<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Alt.Composition.Extended" version="1.1.13" targetFramework="net451" userInstalled="true" />
  <package id="Alt.Composition.Settings" version="1.1.13" targetFramework="net451" userInstalled="true" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net451" userInstalled="true" />
  <package id="Magnum" version="2.1.3" targetFramework="net451" userInstalled="true" />
  <package id="Microsoft.Composition" version="1.0.30" targetFramework="net451" userInstalled="true" />
  <package id="Newtonsoft.Json" version="7.0.1-beta2" targetFramework="net451" userInstalled="true" />
</packages>