<div class="container">
    <div ng-repeat="week in ctrl.routineDefinition.weeks">
        <div class="row" ng-repeat="day in week.days">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Week {{$parent.$index + 1}} - Day {{$index + 1}}</h4>
                </div>
                <table class="table">
                    <tbody>
                        <tr ng-repeat="exercise in day.exercises">
                            <td>{{exercise.name}}</td>
                            <td>{{exercise.description}}</td>
                            <td>{{ctrl.applyFormula(exercise.weightFormula)}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>