<div class="container">
    <div ng-repeat="week in ctrl.routineDefinition.weeks">
        <div class="row" ng-repeat="day in week.days">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Week {{$parent.$index + 1}} - Day {{$index + 1}}</h4>
                </div>
                <table class="table">
                    <tbody>
                        <tr ng-repeat="exercise in day.exercises">
                            <td style="width: 30%; overflow: hidden; white-space: nowrap">{{exercise.name}}</td>
                            <td style="width: 30%; overflow: hidden; white-space: nowrap">{{exercise.description}}</td>
                            <td style="width: 30%; overflow: hidden; white-space: nowrap">{{ctrl.applyFormula(exercise.weightFormula) | round:2.5 | weight:'kg' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>