<md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
    <md-toolbar class="md-toolbar-tools">
        <h2 >Menu</h2>
    </md-toolbar>
    <md-list>
        <md-subheader>
            Routines
        </md-subheader>
        <md-list-item ng-repeat="routine in vm.routines">
            <md-button ui-sref="app.routine({ id: routine.id })">
                {{routine.name}}
            </md-button>
        </md-list-item>
    </md-list>
</md-sidenav>
<div flex layout="column">
    <md-toolbar layout="row" class="md-whiteframe-z2 md-toolbar-tools">
        <md-button id="left" class="menu" hide-gt-md ng-click="vm.toggleMenu()" aria-label="Show Menu">
            <md-icon md-svg-icon="menu"></md-icon>
        </md-button>
        <h2>Routine Builder</h2>
    </md-toolbar>
</div>
