<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="4.48.4489.28432" targetFramework="net451" userInstalled="true" />
  <package id="Angular.UI.Bootstrap" version="0.12.1" targetFramework="net451" userInstalled="true" />
  <package id="AngularJS.Core" version="1.3.15" targetFramework="net451" userInstalled="true" />
  <package id="AngularJS.Route" version="1.3.15" targetFramework="net451" userInstalled="true" />
  <package id="bootstrap" version="3.3.4" targetFramework="net451" userInstalled="true" />
  <package id="EcmaScript.Net" version="1.0.1.0" targetFramework="net451" userInstalled="true" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net451" userInstalled="true" />
  <package id="FontAwesome" version="4.2.0" targetFramework="net451" userInstalled="true" />
  <package id="jQuery" version="2.1.3" targetFramework="net451" userInstalled="true" />
  <package id="Magnum" version="2.1.3" targetFramework="net451" userInstalled="true" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net451" userInstalled="true" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.1" targetFramework="net451" userInstalled="true" />
  <package id="Nancy" version="1.2.0" targetFramework="net451" userInstalled="true" />
  <package id="Nancy.Owin" version="1.2.0" targetFramework="net451" userInstalled="true" />
  <package id="Nancy.Serialization.JsonNet" version="1.2.0" targetFramework="net451" userInstalled="true" />
  <package id="Newtonsoft.Json" version="7.0.1-beta2" targetFramework="net451" userInstalled="true" />
  <package id="Owin" version="1.0" targetFramework="net451" userInstalled="true" />
  <package id="SquishIt" version="0.9.7" targetFramework="net451" userInstalled="true" />
  <package id="YUICompressor.NET" version="2.7.0.0" targetFramework="net451" userInstalled="true" />
</packages>